h1 {
    color : blue;
    text-align: center;
    font-size: 30px;
}

p , a {
    font-size: 15px;
    line-height: 1;
    letter-spacing: 3px;
}

#wuhao{
    color: gray;
}
.laocao{
    color: red;
}
.xiaoyu{
    color: orange;
}

/* html {
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
} */